<!doctype html>
<html>
<head>
<title>LeasePlan Scraper</title>
<meta name="description" content="LeasePlan Scraper">
<meta name="keywords" content="LeasePlan Scraper">
<meta http-equiv="refresh" content="10" >
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <table id="table_top">
        <tbody>
            <tr>
                <td>
                <h1><span style="font-size:72px">LeasePlan Scraper</span></h1>
                <p><span id="show"><strong>Scraper</strong></span> is currently looking for <span id="show"><strong>{{ vehiclebrand }} {{ vehiclemodel }}</strong></span> with <span id="show"><strong>{{ vehiclemileage }}</strong></span> km and a duration of <span id="show"><strong>{{ vehicleduration }}</strong></span> months</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="table_bottom">
        <tbody>
            <tr>
                <td>Server time:</td>
                <td>{{ servertime }}</td>
            </tr>
            <tr>
                <td>Last run:</td>
                <td>{{ lastrun }}</td>
            </tr>
            <tr>
                <td>Run count:</td>
                <td>{{ runcounter }}</td>
            </tr>
            <tr>
                <td>Vehicles in-memory:</td>
                <td>{{ vehiclesinmemory }}</td>
            </tr>
            <tr>
                <td>Last added vehicle:</td>
                <td><a href={{ lastaddedvehiclelink }} target="_blank">{{ lastaddedvehicle }}</a></td>
            </tr>
            <tr>
                <td>First run:</td>
                <td>{{ firstrun }}</td>
            </tr>
            <tr>
                <td>Mail notifications:</td>
                <td>{{ mailenabled }}</td>
            </tr>
            <tr>
                <td>Mails sent:</td>
                <td>{{ mailssent }}</td>
            </tr>
            <tr>
                <td>Check every:</td>
                <td>{{ checkevery }} seconds</td>
            </tr>
            <tr>
                <td>Error count:</td>
                <td>{{ errorcounter }}</td>
            </tr>
            <tr>
                <td>Last error:</td>
                <td>{{ lasterror }}</td>
            </tr>
            <tr>
                <td>Last error message:</td>
                <td>{{ errormessage }}</td>
            </tr>
        </tbody>
    </table>
    <p></p><span id="footer"><em>This page auto-refreshes every 10 seconds</em></span></br>
    <span id="footer"><strong><em><a href="https://github.com/RodneyKoolman/LeasePlan-Scraper" target="_blank">github.com/RodneyKoolman/LeasePlan-Scraper</a></em></strong></span></p>
</body>
</html>